{% extends 'base.html' %}

{% block title %}{{_('ホームページ')}}{% endblock %}
{% block body %}
<div class="testing">
<header class="main">
	<h1><strong>{{_('SFS')}}</strong>&nbsp;&nbsp;{{_('社内管理システム')}}</h1>
	<p>{{aaa}}</p>
	<input type="text" value="search" />
</header>
<section class="user">
	<div class="profile-img">
		<p><img src="" alt="" height="40" width="40" />{{_('よこそう')}}</p>
	</div>
	<div class="buttons">
		<button class="ico-font">&#9206;</button>
		<span class="button blue"><a href="#">Logout</a></span>
	</div>
</section>
<!--</div>-->
<nav style="height: 100px;">
	<ul>
		<li>
			<a href="#"><span class="icon">&#128196;</span>{{_('社員情報')}}</a>
			<ul class="submenu">
				<li><a href="">新規</a></li>
				<li><a href="">更新</a></li>
				<li><a href="">削除</a></li>
			</ul>	
		</li>
		<li>
			<a href="#"><span class="icon">&#127748;</span>{{_('備考')}}<span class="pip">0</span></a>
		</li>
		<li>
			<a href="#"><span class="icon">&#59160;</span>{{_('備考')}}</a>
		</li>
		<li>
			<a href="#"><span class="icon">&#128202;</span>{{_('備考')}}</a>
		</li>
		<li>
		    <a href="#"><span class="icon">&#128101;</span>{{_('備考')}}</a>
		</li>
		<li>
			<a href="#"><span class="icon">&#9881;</span>{{_('備考')}}</a>
		</li>
	</ul>
</nav>
<section class="content">
	<div class="widget-container">
		<section class="widget small">
			<header> 
				<span class="icon">&#128318;</span>
				<hgroup>
					<h1>{{_('システムの状態')}}</h1>
					<h2>{{_('実績のまとめ')}}</h2>
				</hgroup>
			</header>
			<div class="content">
				<section class="stats-wrapper">
					<div class="stats">
						<p><span>7</span></p>
						<p>{{_('ユーザー')}}</p>
					</div>
					<div class="stats">
						<p><span>362</span></p>
						<p>{{_('備考')}}</p>
					</div>
				</section>
				<section class="stats-wrapper">
					<div class="stats">
						<p><span>64</span></p>
						<p>{{_('備考')}}</p>
					</div>
					<div class="stats">
						<p><span>927</span></p>
						<p>{{_('備考')}}</p>
					</div>
				</section>
			</div>
		</section>
		<section class="widget small">
			<header> 
				<span class="icon">&#128363;</span>
				<hgroup>
					<h1>{{_('処理事項')}}</h1>
					<h2>{{_('処理済')}} &amp; {{_('未処理')}}</h2>
				</hgroup>
			</header>
			<div class="content no-padding timeline">
				<div class="tl-post">
					<span class="icon">&#128206;</span>
					<p><a href="#">{{_('ユーザーA')}}</a>{{_('事項A')}}</p>
				</div>
				<div class="tl-post">
					<span class="icon">&#59172;</span>
					<p><a href="#">{{_('ユーザーA')}}</a>{{_('事項A')}}</p>
				</div>
				<div class="tl-post">
					<span class="icon">&#59170;</span>
					<p><a href="#">{{_('ユーザーA')}}</a>{{_('事項A')}}</p>
				</div>
				<div class="pie graph-area"></div>
			</div>
		</section>
</section>
</div>
<script type="text/javascript">
// Feature slider for graphs
$('.cycle').cycle({
	fx: "scrollHorz",
	timeout: 0,
    slideResize: 0,
    prev:    '.left-btn', 
    next:    '.right-btn'
});
</script>
{% endblock %}